<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444518021054-mfkie2stq7ht3po9ofq8vpv6achd9350.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444518021054-mfkie2stq7ht3po9ofq8vpv6achd9350</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Xz3HjZnTmoicX8p1bO6pK26QSym_9Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>444518021054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Novak</string>
	<key>PROJECT_ID</key>
	<string>novaktv-3fe42</string>
	<key>STORAGE_BUCKET</key>
	<string>novaktv-3fe42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444518021054:ios:8d4c4b4e837c9aef</string>
	<key>DATABASE_URL</key>
	<string>https://novaktv-3fe42.firebaseio.com</string>
</dict>
</plist>